# Create a .env in same directory as this file and fill in the values.

# Must match the pwd used when generating ./.dev-certs/pfx/fileshare-dev.pfx
HTTPS_CERT_PASSWORD=your-password-here

# Protocol and port used for service-to-service traffic inside Docker.
# Use http+8080 or https+8443.
INTERNAL_SERVICE_SCHEME=http
INTERNAL_SERVICE_PORT=8080

OPENFGA_STORE_ID=01KNP64ZBNVR0SHQ0K9YVC8TFV
OPENFGA_MODEL_ID=01KNP66D6X1VNS7CB6H98EF2HH

# HTTPS example:
# INTERNAL_SERVICE_SCHEME=https
# INTERNAL_SERVICE_PORT=8443