# Create a .env in same directory as this file and fill in the values.

# Must match the pwd used when generating ./.dev-certs/pfx/fileshare-dev.pfx
HTTPS_CERT_PASSWORD=

# Protocol and port used for service-to-service traffic inside Docker.
# Use http+8080 or https+8443.
INTERNAL_SERVICE_SCHEME=http
INTERNAL_SERVICE_PORT=8080

# HTTPS example:
# INTERNAL_SERVICE_SCHEME=https
# INTERNAL_SERVICE_PORT=8443