# Copy to k6/.env (and fill in the values) to set environment variables for k6 tests

# Credentials for login payload (dummy/example values)
USERNAME=demo_user
PASSWORD=demo_user

# Auth endpoints (dummy/example values)
AUTH_BASE_HTTPS=https://example.com:PORT
AUTH_BASE_HTTP=http://example.com:PORT

# Test paths (dummy/example values)
AUTH_LOGIN_PATH=/authentication/login

# Optional: Also possible to set full URLs instead of base+path:
# AUTH_LOGIN_HTTPS=https://example.com:PORT/authentication/login
# AUTH_LOGIN_HTTP=http://example.com:PORT/authentication/login

INSECURE_SKIP_TLS_VERIFY=BOOLEAN_VALUE # Set to "true" to skip TLS verification (useful for testing with self-signed certificates)

# Optional: sleep between runs
SLEEP_BETWEEN_RUNS_SECONDS=10