# Copy to k6/.env and fill in your values. See README.md for details.

USERNAME={DUMMY_USERNAME}
PASSWORD={DUMMY_PASSWORD}

INSECURE_SKIP_TLS_VERIFY={DUMMY_BOOL}
CLIENT_CERT_PATH={DUMMY_CERT_PATH}
CLIENT_KEY_PATH={DUMMY_KEY_PATH}
SLEEP_SECONDS={NUMBER OF SECONDS TO SLEEP BETWEEN ITERATIONS}

# Auth
AUTH_LOGIN_PATH={DUMMY_PATH}
AUTH_URL=https://{DUMMY_HOST}:{DUMMY_PORT}

--STORAGE---
# If you want to test downloading a specific file, set FILE_ID to a pre-existing file id
FILE_ID={DUMMY_FILE_ID}

# Storage direct
STORAGE_BASE_HTTP=http://{DUMMY_HOST}:{DUMMY_PORT}
STORAGE_BASE_HTTPS=https://{DUMMY_HOST}:{DUMMY_PORT}
STORAGE_BASE_MTLS=https://{DUMMY_HOST}:{DUMMY_PORT}

STORAGE_DIRECT_PING_PATH={DUMMY_PATH}

STORAGE_DIRECT_UPLOAD_FILES_HTTP=http://{DUMMY_HOST}:{DUMMY_PORT}
STORAGE_DIRECT_UPLOAD_FILES_HTTPS=https://{DUMMY_HOST}:{DUMMY_PORT}
STORAGE_DIRECT_UPLOAD_FILES_MTLS=https://{DUMMY_HOST}:{DUMMY_PORT}
STORAGE_DIRECT_GET_FILE_HTTP=http://{DUMMY_HOST}:{DUMMY_PORT}
STORAGE_DIRECT_GET_FILE_HTTPS=https://{DUMMY_HOST}:{DUMMY_PORT}
STORAGE_DIRECT_GET_FILE_MTLS=https://{DUMMY_HOST}:{DUMMY_PORT}
STORAGE_UPLOAD_PATH={DUMMY_PATH}
STORAGE_LIST_PATH={DUMMY_PATH}
STORAGE_DIRECT_GET_FILE_PATH={DUMMY_PATH}

# Gateway
GATEWAY_BASE_HTTP=http://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_BASE_HTTPS=https://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_BASE_MTLS=https://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_AUTH_URL=https://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_STORAGE_PING_PATH={DUMMY_PATH}
GATEWAY_STORAGE_UPLOAD_FILES_HTTP=http://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_STORAGE_UPLOAD_FILES_HTTPS=https://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_STORAGE_UPLOAD_FILES_MTLS=https://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_STORAGE_GET_FILE_HTTP=http://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_STORAGE_GET_FILE_HTTPS=https://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_STORAGE_GET_FILE_MTLS=https://{DUMMY_HOST}:{DUMMY_PORT}
GATEWAY_AUTH_LOGIN_PATH={DUMMY_PATH}
GATEWAY_STORAGE_UPLOAD_PATH={DUMMY_PATH}
GATEWAY_STORAGE_LIST_PATH={DUMMY_PATH}
GATEWAY_STORAGE_GET_FILE_PATH={DUMMY_PATH}
